body {
    font-family: Arial, sans-serif;
    background: #f5f9ff;
    margin: 0;
    padding: 20px;
}

h1 {
    text-align: center;
    color: #2a4d69;
    margin-bottom: 30px;
}

table {
    width: 90%;
    margin: auto;
    border-collapse: collapse;
    background: white;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

th {
    background: #ffb5d8;
    padding: 12px;
    font-size: 18px;
    color: #333;
}

td {
    border-bottom: 1px solid #ddd;
    text-align: center;
    padding: 15px;
}

img {
    width: 300px;
  
}

a {
    color: #0077cc;
    font-weight: bold;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
